<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <header class="navbar navbar-static-top margin-reset">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">Home</a>
      </div>
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="/subpage">Supage</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {% block body null %}
</body>
</html>
